.nav{
    position: fixed; /* element 고정시키기 */
    width:100%;
    background-color: #fcfcfc;
    padding: 20px 50px; /* 위아래 20, 양옆 50 */
    left: 0px;
    bottom: 0px;
    border-top: 1px solid #f7f7f7;  /* 두께, 스타일, 색깔 */
}

.nav .nav__list{
    display: flex;
    justify-content: space-between;
}

.nav i {
    font-size: 20px;
}